<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Articles</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>
          {{link-to fullName 'friends.show' this}}
        </td>
        <td>
          {{totalArticles}}
        </td>
        <td>
          <button {{action "delete" this}} class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
